
.DS_Store

deliverable1/green_tripdata_2016-01.csv

deliverable1/Taxi5000_raw.RData

deliverable1/.RData

deliverable1/.Rhistory

deliverable2/green_tripdata_2016-01.csv

deliverable2/Taxi5000_raw.RData

deliverable2/.RData

deliverable2/.Rhistory

deliverable4/green_tripdata_2016-01.csv

finaldeliverable/green_tripdata_2016-01.csv
